
.m-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    .m-form-container{

    }

    .m-form-button-container{
         
    }
   
}