$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body, #root {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} 

.m-full-fill{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.m-header-layout {
  display: flex;
  flex-direction: row;
}

.m-header-title {
  color: #FFF;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.quantitySection h2{
  color: #555555;
  font-size: 12px;
  font-weight: 600;
}
.tab button:hover{
  color: #295D7B;
  border-bottom: solid 1px #295D7B; 
}
.flex-container {
  padding: 5px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row;
}
.flex-item{
  flex: 4;
}
.detailImg{
  flex: 1;
}
.detail{
  flex: 6;
}
.detailImg img{
  margin: 0px 10px 10px;
}
.detail h4 {
  color:#555555;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 3px;
}
.detail span {
  color:#555555;
  font-size: 10px;
  display: block;
}
.flex-item .time {
  color:#B7B7B7;
  font-size: 10px;
  float: right;
  margin-right: 10px;
}

.contentImg{
  width: 150px !important;
}
.contentImg img{
  border-radius: 10px;
  width: 150px;
}

.m-toolbarm-toolbar
{
  top: 0 !important;
}